body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial;
}

header {
  background: #111;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: red;
}

#videos {
  padding: 10px;
}

video {
  width: 100%;
  max-width: 480px;
  margin-bottom: 15px;
}
